*.o
*.a
*.so
*.core
core
src/dbsaga
src/resolver
area/shutdown.txt
area/boot.txt
system/boot.txt
log/*.log
log/archived/*.log
crash/*.crash
corpses/*
gods/*
player/*/
!player/*/.gitkeep
*.bak
*~
.DS_Store
